<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>联系我们</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="筑城融创"/>
<meta name="description" content="筑城融创 "/>
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="header w1200 fix">
 <a href="index.html"><img src="images/logo1.jpg"/></a>
</div>
<div class="content w1200 fix">
  <!--content_left-->
 <div class="content_left">
 <!--position-->
  <div class="position fix">
  <i><img src="images/position_tb.png"/></i><span>当前位置：</span><a href="#">首页 </a> > <a href="#">联系我们 </a> > <a href="#" class="on">联系我们</a>
  </div>
  <!--Contact-->
  <div class="Contact distance fix">
  <div class="Contact_tm fix"><h3>联系方式</h3></div>
  <div class="Contact_map fix"><img src="images/map.jpg"/></div>
  <div class="Contact_nr fix">
   <div class="Contact_tel">
    <h4>筑城(北京)资产管理有限公司</h4>
    <h3>北京</h3>
    <p>地址:北京市朝阳区双营路天溪园13号楼</p>
    <p>电话:01063366271</p>
    <p>邮    编：100020</p>
    <h3>河北</h3>
    <p>地址石家庄市中华北大街50号军创国际大厦802</p>
    <p>电话:0311-66567955</p>
    <p>邮    编：050000</p>
   </div>
   <div class="Contact_wx">
    <ul>
     <li><i><img src="images/wx_tp1.jpg"/></i><span>筑城资本</span></li>
     <li><i><img src="images/wx_tp2.jpg"/></i><span>增益通科技</span></li>
    </ul>
   </div>
  </div>
  </div>
  </div>
 <!--content_right-->
 <div class="content_right">
  <div class="menue fix">
    <ul>
     <li class="nLi">
      <h3><a href="about.html"><span>关于我们</span></a></h3>
      <ul class="sub">
       <li><a href="about.html">公司简介</a></li>
       <li><a href="business.html">业务范围</a></li>
       <li><a href="value.html">价值理念  </a></li>
       <li><a href="Honor.html">资质荣誉</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="news.html"><span>资讯</span></a></h3>
      <ul class="sub">
       <li><a href="news.html">公司新闻</a></li>
       <li><a href="news.html">行业动态</a></li>
      </ul>
     </li>
     <li class="nLi">
       <h3><a href="Survey.html"><span>党建学习</span></a></h3>
       <ul class="sub">
       <li><a href="Survey.html">支部概括</a></li>
       <li><a href="party.html">支部荣誉</a></li>
       <li><a href="party.html">支部活动</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="Contact.html"><span>联系我们</span></a></h3>
       <ul class="sub">
       <li><a href="Contact.html">联系方式</a></li>
       <li><a href="recruit.html">招聘信息</a></li>
      </ul>
     </li>
    </ul>
   </div>
 </div>
</div>

 <div class="footer w1200 fix">
  <a href="#">筑城资本</a>
  <a href="#">增益通科技</a>
  <a href="#">筑城融创</a>
  <a href="#">河北铭融</a>
 </div>
</body>
</html>
