<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>新闻中心详情</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="筑城融创"/>
<meta name="description" content="筑城融创 "/>
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="header w1200 fix">
 <a href="index.html"><img src="images/logo1.jpg"/></a>
</div>
<div class="content w1200 fix">
  <!--content_left-->
 <div class="content_left">
 <!--position-->
  <div class="position fix">
  <i><img src="images/position_tb.png"/></i><span>当前位置：</span><a href="#">首页 </a> > <a href="#">新闻中心</a> > <a href="#" class="on">新闻中心详情</a>
  </div>
  <!--news_nr-->
  <div class="news_nr distance fix">
    <div class="news_tm fix"><h3>关于规范金融机构资产管理业务的指导意见</h3></div>
    <div class="news_date fix"><span>来源：</span><span>作者：某某某</span><span>时间：2018-7-16  14：26</span><span>105次浏览6</span></div>
    <div class="news_xq fix">
     <img src="images/news_tp.jpg"/>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;近年来，我国资产管理业务快速发展，在满足居民和企业投融资需求、改善社会融资结构等方面发挥了积极作用，但也存在部分业务发展不规范、多层嵌套、刚性兑付、规避金融监管和宏观调控等问题。按照党中央、国务院决策部署，为规范金融机构资产管理业务，统一同类资产管理产品监管标准，有效防控金融风险，引导社会资金流向实体经济，更好地支持经济结构调整和转型升级，<br>
&nbsp;&nbsp;&nbsp;&nbsp;经国务院同意，现提出以下意见： 一、规范金融机构资产管理业务主要遵循以下原则： （一）坚持严控风险的底线思维。把防范和化解资产管理业务风险放到更加重要的位置，减少存量风险，严防增量风险。 （二）坚持服务实体经济的根本目标。既充分发挥资产管理业务功能，切实服务实体经济投融资需求，又严格规范引导，避免资金脱实向虚在金融体系内部自我循环，防止产品过于复杂，加剧风险跨行业、跨市场、跨区域传递。 （三）坚持宏观审慎管理与微观审慎监管相结合、机构监管与功能监管相结合的监管理念。实现对各类机构开展资产管理业务的全面、统一覆盖，采取有效监管措施，加强金融消费者权益保护。 （四）坚持有的放矢的问题导向。重点针对资产管理业务的多层嵌套、杠杆不清、套利严重、投机频繁等问题，设定统一的标准规制，同时对金融创新坚持趋利避害、一分为二，留出发展空间。 （五）坚持积极稳妥审慎推进。正确处理改革、发展、稳定关系，坚持防范风险与有序规范相结合，在下决心处置风险的同时，充分考虑市场承受能力，合理设置过渡期，把握好工作的次序、节奏、力度，加强市场沟通，有效引导市场预期。
     </p>
    </div>
    <div class="Article fix">
    <a href="#"><span>上一篇：</span>关于规范金融机构资产管理业务的指导意见</a>
    <a href="#"><span>下一篇：</span>关于规范金融机构资产管理业务的指导意见</a>
    </div>
  </div>
  </div>
 <!--content_right-->
 <div class="content_right">
  <div class="menue fix">
    <ul>
     <li class="nLi">
      <h3><a href="about.html"><span>关于我们</span></a></h3>
      <ul class="sub">
       <li><a href="about.html">公司简介</a></li>
       <li><a href="business.html">业务范围</a></li>
       <li><a href="value.html">价值理念  </a></li>
       <li><a href="Honor.html">资质荣誉</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="news.html"><span>资讯</span></a></h3>
      <ul class="sub">
       <li><a href="news.html">公司新闻</a></li>
       <li><a href="news.html">行业动态</a></li>
      </ul>
     </li>
     <li class="nLi">
       <h3><a href="Survey.html"><span>党建学习</span></a></h3>
       <ul class="sub">
       <li><a href="Survey.html">支部概括</a></li>
       <li><a href="party.html">支部荣誉</a></li>
       <li><a href="party.html">支部活动</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="Contact.html"><span>联系我们</span></a></h3>
       <ul class="sub">
       <li><a href="Contact.html">联系方式</a></li>
       <li><a href="recruit.html">招聘信息</a></li>
      </ul>
     </li>
    </ul>
   </div>
 </div>
</div>

 <div class="footer w1200 fix">
  <a href="#">筑城资本</a>
  <a href="#">增益通科技</a>
  <a href="#">筑城融创</a>
  <a href="#">河北铭融</a>
 </div>
</body>
</html>
