<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>价值理念</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="筑城融创"/>
<meta name="description" content="筑城融创 "/>
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="header w1200 fix">
 <a href="index.html"><img src="images/logo1.jpg"/></a>
</div>
<div class="content w1200 fix">
  <!--content_left-->
 <div class="content_left">
 <!--position-->
  <div class="position fix">
  <i><img src="images/position_tb.png"/></i><span>当前位置：</span><a href="#">首页 </a> > <a href="#">关于我们</a> > <a href="#" class="on">价值理念</a>
  </div>
  <!--value-->
  <div class="value distance fix">
   <h3>价值理念</h3>
   <P>&nbsp;&nbsp;&nbsp;&nbsp;公司理念：筑造城乡产业，融创资本中国。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;公司价值：筑城融创，创造财富，更创造梦想。</P>
  </div>
 </div>
 <!--content_right-->
 <div class="content_right">
  <div class="menue fix">
    <ul>
     <li class="nLi">
      <h3><a href="about.html"><span>关于我们</span></a></h3>
      <ul class="sub">
       <li><a href="about.html">公司简介</a></li>
       <li><a href="business.html">业务范围</a></li>
       <li><a href="value.html">价值理念  </a></li>
       <li><a href="Honor.html">资质荣誉</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="news.html"><span>资讯</span></a></h3>
      <ul class="sub">
       <li><a href="news.html">公司新闻</a></li>
       <li><a href="news.html">行业动态</a></li>
      </ul>
     </li>
     <li class="nLi">
       <h3><a href="Survey.html"><span>党建学习</span></a></h3>
       <ul class="sub">
       <li><a href="Survey.html">支部概括</a></li>
       <li><a href="party.html">支部荣誉</a></li>
       <li><a href="party.html">支部活动</a></li>
      </ul>
     </li>
     <li class="nLi">
      <h3><a href="Contact.html"><span>联系我们</span></a></h3>
       <ul class="sub">
       <li><a href="Contact.html">联系方式</a></li>
       <li><a href="recruit.html">招聘信息</a></li>
      </ul>
     </li>
    </ul>
   </div>
 </div>
</div>
 <div class="footer w1200 fix">
  <a href="#">筑城资本</a>
  <a href="#">增益通科技</a>
  <a href="#">筑城融创</a>
  <a href="#">河北铭融</a>
 </div>
</body>
</html>
