<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="{$SEO['keyword']}"/>
    <meta name="description" content="{$SEO['description']}">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <link href="/template/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/template/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/template/js/jquery.SuperSlide.2.1.1.js"></script>
</head>