{template "content","head"}
<body>
{template "content","logo"}
<div class="content w1200 fix">
    <!--content_left-->
    <div class="content_left">
        <!--position-->
        {template "content","position"}
        <!--about-->
        <div class="recruit distance fix">
            <div class="recruit_tm fix"><h3>{$title}</h3></div>
            <div class="recruit_xq fix">
               {$content}
            </div>
        </div>
    </div>
    <!--content_right-->
    {template "content","right"}
</div>
{template "content","foot"}