{template "content","head"}
<body>
{template "content","logo"}
<div class="content w1200 fix">
    <!--content_left-->
    <div class="content_left">
        <!--position-->
        {template "content","position"}
        <!--Contact-->
        <div class="Contact distance fix">
            <div class="Contact_tm fix"><h3>联系方式</h3></div>
            <div class="Contact_map fix"><img src="images/map.jpg"/></div>
            <div class="Contact_nr fix">
                <div class="Contact_tel">
                    {$content}
                </div>
                <div class="Contact_wx">
                    <ul>
                        <li><i><img src="images/wx_tp1.jpg"/></i><span>筑城资本</span></li>
                        <li><i><img src="images/wx_tp2.jpg"/></i><span>增益通科技</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--content_right-->
    {template "content","right"}
</div>

{template "content","foot"}
