{template "content","head"}
<body>
{template "content","logo"}
<div class="content w1200 fix">
    <!--content_left-->
    <div class="content_left">
        <!--position-->
        {template "content","position"}
        <!--Contact-->
        <div class="Contact distance fix">
            <div class="Contact_tm fix"><h3>联系方式</h3></div>
            <div class="Contact_map fix"><img src="images/map.jpg"/></div>
            <div class="Contact_nr fix">
                <div class="Contact_tel">
                    <h4>筑城(北京)资产管理有限公司</h4>
                    <h3>北京</h3>
                    <p>地址:北京市朝阳区双营路天溪园13号楼</p>
                    <p>电话:01063366271</p>
                    <p>邮 编：100020</p>
                    <h3>河北</h3>
                    <p>地址石家庄市中华北大街50号军创国际大厦802</p>
                    <p>电话:0311-66567955</p>
                    <p>邮 编：050000</p>
                </div>
                <div class="Contact_wx">
                    <ul>
                        <li><i><img src="images/wx_tp1.jpg"/></i><span>筑城资本</span></li>
                        <li><i><img src="images/wx_tp2.jpg"/></i><span>增益通科技</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--content_right-->
    {template "content","right"}
</div>

{template "content","foot"}
