{template "content","head"}

    </div>
    <div class="notice">
        <div class="w1200">
            <div class="bd">
                {pc:content  action="position" posid="18" order="listorder ASC" num="6"}
                <ul>
                    {loop $data $key $val}
                    <li><a href="{$val['url']}">{$val['title']}</a></li>
                    {/loop}
                </ul>
                {/pc}

            </div>
       </div>
    </div>
    <div class="w1200">
        <div class="index_fresh">
            <div class="w1200">
                <div class="index_freshTop">
                    <h3>新品推荐</h3>
                    <em class="fix">
                        <i class="le"></i><span>RECOMMENDATION</span><i class="rt"></i>
                    </em>
                </div>
                <div class="index_freshBom w1200">
                    <div class="bd">
                        <ul class="fix">
                            {pc:content  action="position" posid="19" order="listorder ASC" num="6" moreinfo="1"}
                            {loop $data $r}
                            <li>
                                <a href="{$r[url]}">
                                    <i><img src="{$r[thumb]}"></i>
                                    <em>
                                        <img src="{IMG_PATH}index_newest1.png">
                                        <span>查看详情</span>
                                    </em>
                                    <b><img src="{IMG_PATH}index_newest.png"></b>
                                    <p>{$r[title]}</p>
                                </a>
                            </li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    <a href="{$CATEGORYS[22][url]}" class="more">查看更多  +</a>
                </div>
                <script type="text/javascript">
                jQuery(".index_freshBom").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:4,interTime:50});
                </script>
            </div>
        </div>
    </div>
    <div class="index_product w1200">
        <div class="index_productTop">
            <h3>产品分类</h3>
            <em class="fix">
                <i class="le"></i><span>PRODUCT  CATEGORY</span><i class="rt"></i>
            </em>
        </div>
        <div class="index_productBom fix le">
            <div class="hd fix">
                <ul class="fix">
                    {pc:content action="category" catid="22" num="25" siteid="$siteid" order="listorder ASC"}
                    {loop $data $k=>$r}
                    <li><span>{$r[catname]}</span></li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
            <div class="bd fix">
                {pc:content action="category" catid="22" num="8" siteid="$siteid" order="listorder ASC"}
                {loop $data $k=>$r}

                <ul class="fix">
                    {pc:content action="lists" moreinfo="1" catid="$r[catid]" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {php $i=1}
                    {loop $data $v}
                   <li {if $i%3==1}class="one"{/if}>
                       <a href="{$v[url]}">
                            <img src="{$v[thumb]}">
                            <h3>{$v[title]}</h3>
                            <p>{php echo str_cut(strip_tags($v[introuce]),160)}</p>
                       </a>
                   </li>
                    {/loop}
                    {/pc}
                </ul>
                {/loop}
                {/pc}
            </div>
            <a href="" class="more">查看更多  +</a>
        </div>
        <script>
            jQuery(".index_productBom").slide({});
        </script>
    </div>
    <div class="w1200">
        <div class="keynote">
            <div class="w1200">
                <h3>执行体系，严格管理，改进提高，顾客满意</h3>
                <p>依靠对产品质量的精益求精和对技术的不断创新，为用户提供全方位、全过程的称重解决方案。</p>
                <span>全国服务热线：<b>400-071-5758</b></span>
            </div>
        </div>
    </div>
    <div class="w1200">
        <div class="index_news">
            <div class="w1200">
                <div class="index_newsTop">
                    <h3>新闻中心</h3>
                    <em class="fix">
                        <i class="le"></i><span>NEWS CENTER</span><i class="rt"></i>
                    </em>
                </div>
                <div class="index_newsBom">
                    <div class="hd">
                        <ul>
                            <li><span>全部新闻</span></li>
                            {pc:content action="category" catid="10" num="5" siteid="$siteid" order="listorder ASC"}
                            {loop $data $k=>$r}
                            <li><span>{$r[catname]}</span></li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            {pc:content action="lists"  catid="10" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {php $i=1}
                            {loop $data $v}
                            <li {if $i%2==1}class="one"{/if}>
                                <a href="{$v[url]}">
                                    <b><img src="{$v[thumb]}"></b>
                                    <em>
                                        <span>
                                          {$v[title]}
                                            <strong></strong>
                                        </span>
                                        <p>
                                            {$v[description]}
                                        </p>
                                        <i>{date("Y-m-d  H:i",$v[inputtime])}</i>
                                    </em>
                                </a>
                            </li>
                            {php $i++}
                            {/loop}
                            {/pc}
                        </ul>


                        {pc:content action="category" catid="10" num="5" siteid="$siteid" order="listorder ASC"}
                        {loop $data $r}
                        <ul>
                            {pc:content action="lists"  catid="$r[catid]" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {php $i=1}
                            {loop $data $v}
                            <li  {if $i%2==1}class="one"{/if}>
                                <a href="{$v[url]}">
                                    <b><img src="{$v[thumb]}"></b>
                                    <em>
                                        <span>
                                         {$v[title]}
                                            <strong></strong>
                                        </span>
                                        <p>
                                            {$v[description]}
                                        </p>
                                        <i>{date("Y-m-d  H:i",$v[inputtime])}</i>
                                    </em>
                                </a>
                            </li>
                            {php $i++}
                            {/loop}
                            {/pc}
                        </ul>
                        {/loop}
                        {/pc}

                    </div>
                    <a href="{$CATEGORYS[10][url]}" class="more">查看更多  +</a>
                </div>
                <script>
                    jQuery(".index_newsBom").slide({});
                </script>
            </div>
        </div>
    </div>
    <div class="w1200">
        <div class="index_contact">
            <div class="w1200">
                <div class="index_contactTop">
                    <h3>联系我们</h3>
                    <em class="fix">
                        <i class="le"></i><span>CONTACT US</span><i class="rt"></i>
                    </em>
                </div>
                <div class="index_contactBom fix">
                    <div class="index_contactBom_left" id="dituContent">

                    </div>
                    {pc:content action="lists" catid="26" num="1" moreinfo=1 order="listorder ASC,inputtime desc" page="$page"}
                    <div class="index_contentBom_right">
                        <ul>
                            <li class="li1">
                                <em class="fix">
                                    <span>地址：</span>
                                    <p>{$data[1][addr]}</p>
                                </em>
                            </li>
                            <li class="li2">
                                <em class="fix">
                                    <span>电话：</span>
                                    <p>{$data[1][tel]}</p>
                                </em>
                            </li>
                            <li class="li3">
                                <em class="fix">
                                    <span>邮箱：</span>
                                    <p>{$data[1][email]}</p>
                                </em>
                            </li>
                            <li class="li4">
                                <em class="fix">
                                    <span>传真：</span>
                                    <p>{$data[1][fax]}</p>
                                </em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=56srZYI3vAB9XzW2B0u544hHhsdWdE7X"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){
        map = new BMap.Map("dituContent");
        map.centerAndZoom(new BMap.Point(114.517104,38.083038),18);
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){
        var markers = [

            {content:"鹿光衡器",title:"鹿光衡器",imageOffset: {width:-46,height:-21},position:{lat:38.083038,lng:114.517104}}
        ];
        for(var index = 0; index < markers.length; index++ ){
            var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
            var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                })});
            var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
            marker.setLabel(label);
            addClickHandler(marker,infoWindow);
            map.addOverlay(marker);
        };
    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
        map.addControl(overviewControl);
    }
    var map;
    initMap();
</script>
{template "content","foot"}