<div class="sylink">
  <div class="Links bcenter">
    <h3>友情链接</h3>

    {pc:link action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}
    {loop $dat $v}
    <a href="{$v[url]}" target="_blank">{$v[name]}</a> 
    {/loop}
    {/pc}

  </div>
</div>
<!--底部-->
<div class="footbg">
  <div class="foot bcenter">
    <dl class="clearfix">
      <dd>
        <h3>联系我们</h3>
        {pc:content action="lists" catid="26" num="1" moreinfo="1" order="listorder asc"}
        {loop $data $r}
        <span class="ftel" style="background:url({IMG_PATH}images/ftel.png) no-repeat;">电话：<em>&nbsp;&nbsp;{$r[tel]}</em></span> 
        <span class="fcz" style="background:url({IMG_PATH}images/fcz.png) no-repeat;">传真：<em>&nbsp;&nbsp;{$r[fax]}</em></span>
        <span class="fyx" style="background:url({IMG_PATH}images/fyx.png) no-repeat;">E-mail：<em>&nbsp;&nbsp;{$r[email]}</em></span>
        <span class="fqq" style="background:url({IMG_PATH}images/fqq.png) no-repeat;"><em>QQ : &nbsp;&nbsp;{$r[QQ]}</em></span>
        <span class="fdz" style="background:url({IMG_PATH}images/fdz.png) no-repeat;">地址：&nbsp;&nbsp;{$r[addr]}</span>
        {/loop}
        {/pc}
      </dd>
      <dt>
        <h3>快速导航</h3>
        <ul>
          <li class="dnav"> <span>{$CATEGORYS[9][catname]}</span>
            <ul>
              {pc:content action="category" catid="9" moreinfo="1" num="4" order="listorder asc"}
              {loop $data $r}
              <li><a href="{$r[url]}">{$r[catname]}</a></li>
              {/loop}
              {/pc}

            </ul>
          </li>
          <li class="dnav"> <span>{$CATEGORYS[10][catname]}</span>
            <ul>
              {pc:content action="category" catid="10" moreinfo="1" num="4" order="listorder asc"}
              {loop $data $r}
              <li><a href="{$r[url]}">{$r[catname]}</a></li>
              {/loop}
              {/pc}
            </ul>
          </li>
          <li class="dnav"> <span>{$CATEGORYS[9][catname]}</span>
            <ul>
              {pc:content action="category" catid="17" moreinfo="1" num="4" order="listorder asc"}
              {loop $data $r}
              <li><a href="{$r[url]}">{$r[catname]}</a></li>
              {/loop}
              {/pc}
            </ul>
          </li>
          <li class="dnav" style="padding: 0px"> <span>{$CATEGORYS[22][catname]}</span>
            <ul>
              {pc:content action="category" catid="22" moreinfo="1" num="4" order="listorder asc"}
              {loop $data $r}
              <li><a href="{$r[url]}">{$r[catname]}</a></li>
              {/loop}
              {/pc}
            </ul>
          </li>
        </ul>
      </dt>
    </dl>
  </div>
  <div class="footer bcenter">
    {pc:content action="lists" catid="26" num="1" moreinfo="1" order="listorder asc"}
    {loop $data $r}
    {$r[bottom]}
    {/loop}
    {/pc}
  </div>
</div>
<!--右侧固定-->
{pc:content action="lists" catid="26" num="1" moreinfo="1" order="listorder asc"}
{loop $data $r}
<div class="commonposition"> 
 <!--  <a href="javascript:;" class="Homedianhua"><span class="dianhuabggray">{$r[tel]}</span></a> -->
  <a href="javascript:;" class="Homeweixin"><span class="weixinerweima"><img src="{$r[thumb]}" width="210" height="210" alt="" /></span></a> 
  <a href="#" class="Hometop"></a> 
</div>
{/loop}
{/pc}
<script type="text/javascript">
 $(".commonposition a").hover(function(){
  $(this).find("span").show(300);   
},function(){
  $(this).find("span").hide(300);
})
 $(window).scroll(function(){

  if($(window).scrollTop()>500){
   $(".commonposition").show();
 }else{
   $(".commonposition").hide(); 
 }
})
</script>
<script type="text/javascript">
  $(function(){
    $(".jiejuebox").myscroll({
      prev: ".jiejueleft",
      next: ".jiejuerighr",
      scrollbox: ".indexjiejue"
    });
  })
</script>
</body>
</html>
