<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">

  <link rel="stylesheet" type="text/css" href="{CSS_PATH}css/style.css">
  <script type="text/javascript" src="{JS_PATH}js/jquery-1.8.3.min.js"></script>

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "{JS_PATH}js/hm.js-324af8cdd661aaecedd5e22bffb6af7e";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- Baidu Tongji END -->
</head>
{php $tmp=explode(',',$CATEGORYS[$catid][arrparentid]);$num=count($tmp);}
{if $num==1}
{php $cat=$catid;}
{else}
{php $cat=$tmp[1];}
{/if}
<body>
  <!--header 开始-->
  <div class="headerbg">
    <div class="bcenter">
      <h1 class="logo">
        <a href="{siteurl($siteid)}">
          {pc:content action="lists" catid="26" moreinfo="1" num="1"}
          {loop $data $r}
          <img src="{$r[logo]}" width="350">
          {/loop}
          {/pc}
        </a>
      </h1>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="{siteurl($siteid)}">网站首页</a></li>
          {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          <li><a href="{$r[url]}">{$r[catname]}</a></li>
          {/loop}
          {/pc}
        </ul>
      </div>
    </div>
  </div>
<!--header 结束-->