{template "content","header"}
<div class="webbg">

  <div class="abanner">
      {if $parentid==0}
      <img src="{$CATEGORYS[$catid][image]}"/> 
      {else} 
      <img src="{$CATEGORYS[$parentid][image]}" />
      {/if}   
  </div>

  <div class="about_us">
    {pc:content action="lists" catid="$catid" moreinfo="1"}
    {loop $data $r}
    <div class="about_tit" style="text-align: center;">{$r[title]}</div> 

    <div class="about_cen"  style="text-align: left;">
        {$r[content]}
    </div>
    {/loop}
    {/pc}
</div>

</div>
{template "content","footer"}