{template "content","header"}
<div class="webbg">

  <div class="abanner">
    {if $parentid==0}
    <img src="{$CATEGORYS[$catid][image]}"/> 
    {else} 
    <img src="{$CATEGORYS[$parentid][image]}" />
    {/if}   
  </div>
  <style type="text/css">
    .about_us input,textarea{
      height: 22px;
      margin-top: 10px;
    }
  </style>
  <div class="about_us" style="font-size: 16px;padding: 5px;text-align: center;">
    <form method="post" action="?m=formguide&c=index&a=show&formid=12&siteid=1" name="myform" id="myform">
    <table class="table_form" cellspacing="0" style="margin: 0 auto">
        <tbody>
          <tr>
            <th> <font color="red">*</font> 姓名   </th>
            <td>
              <input type="text" name="info[name]" id="name" size="50" value=""  class="input-text"  >  
            </td>
          </tr>
          <tr>
            <th > <font color="red">*</font> 联系电话   </th>
            <td>
              <input type="text" name="info[phone]" id="phone" size="50" value=""  class="input-text"  > </td>
            </tr>
            <tr>
              <th >  电子邮箱   </th>
              <td>
                <input type="text" name="info[email]" id="email" size="50" value=""  class="input-text"  >  </td>
              </tr>
              <tr>
                <th > <font color="red">*</font> 内容   </th>
                <td>
                  <textarea name='info[content]' id='content' style='width:379px;height:200px;'></textarea> 
                </td>
              </tr>
            </tbody>
          </table>
          <input type="submit" name="dosubmit" id="dosubmit" value=" 提交 " style="background: #e60012;color: #fff;width: 130px;height: 30px;margin: 0 30px;">
        </form>

      </div>

    </div>
    {template "content","footer"}