<div class="tuijian">
  <div class="tuijiancen bcenter">

    <div class="tuijianleft">
      <h3>推荐产品</h3>
      <img src="{IMG_PATH}images/tujian_01.png" />
    </div>

    <div class="tuijianright">
      <ul>
        {pc:content action="position" posid="18" num="3" order="listorder" return="pdata"}
        {loop $pdata $p}
        <li>
          <a href="{$p[url]}">
            <img src="{$p[thumb]}" height="220px">
            <p>{$p[title]}</p>
          </a>
        </li>
        {/loop}
        {/pc}
      </ul>
    </div>
    <div class="del_float"></div>
  </div>
</div>